<button (click)="cambiarOrden()">
  <i class="fa"
  [ngClass]="{
    'fa-sort-alpha-asc': orden === 'desc',
    'fa-sort-alpha-desc': orden === 'asc'
  }"
  aria-hidden="true"> ORDENAR</i>  
</button>

<ul>
  <!-- La directiva 'NGFor' itera por una
        colección dada y por cada elemento añade
        la jerarquía de etiquetas html sobre la 
        cual se está usando.
  -->
  <li *ngFor="let contacto of contactos | ordenarContactos:orden"
      (click)="notificarSeleccionContacto(contacto)">
    
    {{ contacto.nombre }} {{ contacto.apellidos }}
    <!-- La suscripción eventos se hace poniendo paréntesis al nombre del mismo. -->
    <button (click)="notificarEliminacionContacto(contacto)">Eliminar</button>
  </li>
</ul>
